@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

#page-wrapper {
  width:85%;
  margin:auto;
  padding:2%;
}

#planets {
  background-color: rgba(80,80,80,0.9);
  border: 2px solid;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  font-style: normal;
  width: 90%;
  margin: 10px auto;
  border-collapse: collapse;
  box-shadow: 0 0 15px black;

}

#planets img {
  display: block;
  margin: 0 auto;
  width: 100%;

}

a {
  color: white;
}
 
a:hover {
  color: yellow;
}  
th {
  background-image: url("../images/background.gif");
  color: white;
}

td, th {
  padding: 1%;
  border: 1px dotted black;
}

tr:hover {
  background-color: #636363;
}

td:hover {
  background-image: url("../images/background.gif");
  color: white;
  font-size: 1.2em;
}
